body {
    width: 90%;
    margin-top:0;
    margin-bottom:0;
    margin-left:auto;
    margin-right:auto;
    background: -webkit-linear-gradient(180deg, rgb(214, 230, 245), rgb(6, 126, 246));
    background: -webkit-linear-gradient(180deg, rgb(214, 230, 245), rgb(6, 126, 246));

}

q{
    margin:80px;
    padding:10px;
    background-color: rgb(194, 196, 209);
    border-style: solid; 
    font-size: 30px;
    border-left: 6px solid black;
    padding:30px;
    

}

p {
    font-family: "Gill Sans", sans-serif;
    font-size: 15px;
    line-height: 4;  
    color:#51069c;
}
/*line-height= est l'espacement entre les lignes*/


a:visited {
    color: green;
}
/* visited link */

a:hover {
    color:#ac7214;
}
/*mouse over link*/